{% extends 'football/base.html' %}
{% load static %}
{% block title %}
  Select your teams
{% endblock %}

{% block content %}
<div class="container">
    <ol>
      <div class="row">
          
          {% for team in teams %}
            <div class="col-6">
              
        
               <li>{{ team|title }}</li> 
            
              
            </div>
          {% endfor %}
      </div>
    </ol>
  
  </div>
  
  {% for object in objects %}
    {{ object.home_team }} {{ object.away_team }}
  {% endfor %}
{% endblock %}