{% extends 'football/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
  
{% block content %} 
 {% if user.is_authenticated %} 
  Hello {{ user.username }}!
 {% else %}
  Please login or register for a new account.
 {% endif %} 

  <div class="center" >
    <ul>
        {% for home in home_aways %}
            {% ifchanged %}
                <h3>
                   <div>
                    <a href="{% url 'print_week' home.week_number %}">
                        <li>
                            Select week number {{ home.week_number }} to print.
                        </li>
                    </a>
                   </div>
                </h3>
            {% endifchanged %} 
        {% endfor %} 
    </ul>
  </div>  
{% endblock%}


